.player{
    display: flex;
    align-items: center;
    background-color: #997655;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    span{
        font-size: 32px;
        margin-right:24px;
        margin-left: 24px;
    }
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.playerActive{
    background-color: #c83068 !important;
}